APP_NAME="Survei Kepuasan RSPI"
BASE_URL="/survey-kepuasan"
APP_TIMEZONE="Asia/Makassar"

DB_HOST="localhost"
DB_USERNAME="root"
DB_PASSWORD=""
DB_DATABASE="survei_rs"

TELEGRAM_BOT_TOKEN="8737578114:AAGY_-sWscOr7Cph6L3f2kxxX77JrglMd4g"
TELEGRAM_CHAT_ID="@form_survey_rspi"